[project]
	description = Python interface to the BreezeChMS REST API http://www.breezechms.com
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alex Ortiz-Rosado (aortiz32)
[access "refs/for/refs/*"]
	read = group user/Alex Ortiz-Rosado (aortiz32)
	push = group user/Alex Ortiz-Rosado (aortiz32)
	label-Code-Review = -2..+2 group user/Alex Ortiz-Rosado (aortiz32)
	label-Verified = -1..+1 group user/Alex Ortiz-Rosado (aortiz32)
	rebase = group user/Alex Ortiz-Rosado (aortiz32)
	removeReviewer = group user/Alex Ortiz-Rosado (aortiz32)
	submit = group user/Alex Ortiz-Rosado (aortiz32)
[access "refs/heads/*"]
	read = group user/Alex Ortiz-Rosado (aortiz32)
	create = group user/Alex Ortiz-Rosado (aortiz32)
	push = +force group user/Alex Ortiz-Rosado (aortiz32)
	pushMerge = group user/Alex Ortiz-Rosado (aortiz32)
[access "refs/tags/*"]
	push = +force group user/Alex Ortiz-Rosado (aortiz32)
	pushTag = group user/Alex Ortiz-Rosado (aortiz32)
	pushSignedTag = group user/Alex Ortiz-Rosado (aortiz32)
